flask
numpy 
pandas 
matplotlib 
seaborn 
torch
requests
pytorch-lightning 
scikit-learn 
imbalanced-learn 
fastapi 
flask 
flask-login 
flask-wtf 
flask-sqlalchemy
streamlit
joblib
streamlit-option-menu
streamlit-lottie
